<div class="row c" id="SobreNosotros">
  <div class="col-lg-6 col-sm-12">
    <img
      src="../../../assets/grupo.png"
      class="img-fluid grupo rounded border border-white"
      id="center"
      style="margin-top: 35px"
    />
  </div>
  <div style="margin-top: 35px" class="col-lg-6 col-sm-12">
    <div class="m-2" style="margin-right: 15px; margin-left: 0">
      <p class="text-white fs-3" id="center" style="margin-right: 2em">
        Un grupo de amigos, con una pasión por la buena comida y servicio, que
        decidieron unirse para ofrecer un servicio integral para eventos. <br />
        Nos encanta ser parte de los momentos importantes, estar en los
        detalles, y que solamente tengas que preocuparte por asistir.<br />
        Nos capacitamos permanentemente para poder ofrecer variedad de
        servicios, y que tengas un abanico de alternativas para elegir. <br />
        Tenemos la dedicación y el compromiso para llevar adelante nuestro
        principal objetivo, que puedas "ser un invitado más en tu propio
        evento."<br />
      </p>
    </div>
  </div>
</div>
