<div class="row c" id="SobreNosotros">
  <div class="col-lg-6 col-sm-12">
    <img
      src="../../../assets/grupo.png"
      class="img-fluid delantal rounded border border-white"
    />
  </div>
  <div style="margin-top: 35px" class="col-lg-6 col-sm-12">
    <div class="m-2" style="margin-right: 15px; margin-left: 0">
      <p class="text-white fs-3" id="center" style="margin-right: 2em">
        Un grupo de 4 amigos, con una pasión por la buena comida, y experiencia
        previa en el rubro gastronómico, que decidieron asociarse uniendo sus
        conocimientos para ofrecer un servicio integral para eventos. <br />
        Con un único objetivo, y es que puedas “ser un invitado más en tu propio
        evento.” Que puedan disfrutar mientras nosotros nos encargamos de todo,
        (servicio, comida,pastelería, música, bebida…) <br /><br />
        att: Flor, Mati P, Lucas y Mati C
      </p>
    </div>
  </div>
</div>
