<div class="container-fluid c">
  <div class="row c p-4">
    <div class="col w rounded-pill" id="center" style="margin-top: 4em">
      <div>
        <h1
          style="text-align: center; letter-spacing: 6px"
          class="seg-title text-dark"
        >
          LUNCH PARTY
        </h1>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="../../../assets/lunch/1.webp"
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/lunch/1.webp" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4" style="height: 90%">
        <h3>
          <br>
          Una opcion de menu mas descontracturada, ideal para cumples
          infantiles, o eventos de dia. <br /> <br>
          Es un tipo de servicio donde todo se presenta ya en bocados
          sanguchitos individuales, listos para consumir.
          <br /> <br>
          Se calculan unos 9 a 10 bocados por persona. <br /> <br>
          Un menu que es armado con los gustos y a medida de cada cliente.
          <br /> <br>
          También tenémos opciones vegetarianas, o sin tacc para cada invitado. <br />
          <br />
        </h3>
        <h3 class="text-center text-danger" style="margin-top: 25px;">
          Valor desde $5000 por persona
          <br>
          <br><br>
          <br>
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel">
      <img
        src="../../../assets/lunch/2.jpg"
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/lunch/2.jpg" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7">
      <div class="w p-2 m-2 rounded-4" id="center">
        <h2 class="fw-bold">
          <b>Entre las opciones pueden encontrar:</b>
          
        </h2>
        <h3>
          <br>
          -Tablas de picadas. <br />

          -Sanguchitos, de pancitos de campo, figazas de manteca, bagels con
          semillas. <br />

          -Rellenos de fiambres,carne vacuna desmechada, cerdo, pollo,
          verduras. <br />

          -Canastitas y empanadas (carne, pollo, jamón y queso, capresse,
          verdura, humita, fugazza). <br />

          -Pinchos de tortilla de papa, capresse. <br />

          -Opciones Vegetarianas y Sin tacc. <br />
          <br />
          <br />
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="../../../assets/lunch/3.webp"
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/lunch/3.webp" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4">
        <h2 class="text-center">
        <b>
1.webp ejemplo de LUNCH PARTY para 100 personas podría ser:</b>
          
        </h2>
        <div class="row">
          <div class="col">
            <h3>
              <br>
              -Pernil de cerdo de 12 kg con 300 figazas y salsas. <br />
              -100 canastitas capresse. <br> -100 canastitas de jamon y queso.<br> -50 canastitas de
              verdura. <br />
              -100 bagels de queso y tomate. 
              <br>-50 pinchos de Tortilla de papa.
              <br />
              -100 sanguchitos de pollo a la mostaza. <br> 
              -100 sanguchitos de bondiola y queso. <br />
              -100 minitriples de miga surtidos. <br />
              -3 tablas de picadas de fiambres con 300 pancitos para la
              recepción de los invitados. <br />
              <br />
              <br />
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5491136801229" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>