<nav class="navbar navbar-expand-lg c sh" style="position: fixed; width: 100%; z-index: 100;">
    <div class="container-fluid">
        
      <a class="navbar-brand text-white fs-3" href="#" ><img src="../../../assets/gota.png" style="height: 20px;">Alioli</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="text-center" style="margin: 0 auto;">
            <ul class="navbar-nav me-auto mb-4 mb-lg-1 position-relative">
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos  
                    </a> 
                    <ul class="dropdown-menu" style="background-color: var(--gris);">
                      <li><a class="dropdown-item" href="/PizzaParty" class="text-black"  style="text-decoration: none; margin-left:5px ;">PIZZA PARTY</a></li>
                      <li><a class="dropdown-item" href="/Lunch" class="text-black" style="text-decoration: none; margin-left:5px ;">LUNCH</a></li>
                      <li><a class="dropdown-item" href="/MesaDulceCafe" class="text-black" style="text-decoration: none; margin-left:5px ;">MESA DULCE</a></li>
                      <li><a class="dropdown-item" href="/Pernil" class="text-black" style="text-decoration: none; margin-left:5px ;">PERNIL PARTY</a></li>
                      <li><a class="dropdown-item" href="/MesaDulceCafe" class="text-black" style="text-decoration: none; margin-left:5px ;">CAFÉ</a></li>
                      <li><a class="dropdown-item" href="/Bebidas" class="text-black" style="text-decoration: none; margin-left:5px ;">BEBIDAS</a></li>
                      <li><a class="dropdown-item" href="/Servicios" class="text-black" style="text-decoration: none; margin-left:5px ;">SERVICIOS</a></li>
                      <li><a class="dropdown-item" href="/CoffeeBreak" class="text-black" style="text-decoration: none; margin-left:5px ;">COFFEE BREAK</a></li>
                      <li><a class="dropdown-item" href="/SonidoIluminacion" class="text-black" style="text-decoration: none; margin-left:5px ;">SONIDO</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#SobreNosotros" style="color: white;">Sobre Nosotros</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#contactanos" style="color: white;">Formulario</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#Contacto" style="color: white;">Contacto</a>
                  </li>
  
              </ul>
        </div>
      </div>
  </div>
</nav>
