<div style="background-color: var(--color);">
  <div class="row c p-4">
    <div class="w rounded-pill" id="center" style="margin-top: 4em">
      <div>
        <h1
          style="text-align: center; letter-spacing: 6px"
          class="seg-title text-dark"
        >
          Coffee break
        </h1>
      </div>
    </div>
  </div>
  <div class="row c p-4">
    <div class="w rounded-pill" id="center" >
      <div>
        <h1
          style="text-align: center; letter-spacing: 6px"
          class="seg-title text-dark"
        >
          Proximamente...
        </h1>
        <div class="spinner-border text-primary" role="status"id="center">
          <span class="visually-hidden">Loading...</span>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row c p-4">
    <div class="w rounded-pill" id="center" >
      <div>
        <p class="text-center fs-3" style="padding-bottom: 5em;">
          Aun estamos horneando esta propuesta <br> pronto lo podras sumar a tu evento 🍗🍗
        </p>
        <h4 class="text-black">Disculpe las molestias, Muchas Gracias!!</h4>
      </div>
    </div>
  </div>

</div>
