<div class="container-fluid c">
    <div class="row c p-4 ">
      <div class="col w rounded-pill" id="center"  style="margin-top: 4em;">
        <div>
          <h1
            style="text-align: center; letter-spacing: 6px"
            class="seg-title text-dark"
          > 
            Pizza Party
          </h1>
        </div> 
      </div>
    </div>
    <div class="row c">
      <div class="col-lg-5 pos-rel p-2">
        <img
          src="imagenes/imagen55.jpg"
          class="dimens pos-abs position-absolute"
        />
        <img src="imagenes/imagen55.jpg" class="dimens dimens2" id="center" />
      </div>
      <div class="col-lg-7 c">
        <div class="w p-2 m-2 rounded-4" style="height: 90% ;">
          <h2 class="text-center">3 Modelos de menú</h2>
          <h3 class="text-center">
            Todas las opciones incluyen el servicio de <br />
            pizza a domicilio, con el horno, maestro<br />
            pizzero, mozos y prepizzas caseras.
          </h3>
          <h2 class="fw-bold text-center">
            1.PIZZA PARTY BASE <br />2.PIZZA PARTY CLASICA <br />3.PIZZA PARTY
            PREMIUM
          </h2>
          <h3 class="text-center" style="margin-top: 35px;">Valor desde $1500 por persona</h3>
        </div>
      </div>
    </div>
    <div class="row c">
      <div class="col-lg-5 pos-rel">
        <img
          src="imagenes/imagen55.jpg"
          class="dimens pos-abs position-absolute"
        />
        <img src="imagenes/imagen55.jpg" class="dimens dimens2" id="center" />
      </div>
      <div class="col-lg-7">
        <div class="w p-2 m-2 rounded-4" id="center">
          <h2 class="text-center fw-bold">PIZZA PARTY BASE</h2>
          <h3 class="text-center">
            Servicio de pizza libre <br />con 10 sabores clasicos.
          </h3>
          <h2 class="text-center fw-bold">PIZZA PARTY CLASICA</h2>
          <h3 class="text-center">
            Entrada: <br />-Empanadas <br />-Servicio de pizza libre
          </h3>
          <h2 class="text-center fw-bold">PIZZA PARTY PREMIUM</h2>
          <h3 class="text-center">
            Entrada: <br />-Empanadas <br />-Tabla de fiambre <br />-Servicio
            de pizza libre
          </h3>
        </div>
      </div>
    </div>
    <div class="row c">
      <div class="col-lg-5 pos-rel p-2">
        <img
          src="imagenes/imagen55.jpg"
          class="dimens pos-abs position-absolute"
        />
        <img src="imagenes/imagen55.jpg" class="dimens dimens2" id="center" />
      </div>
      <div class="col-lg-7 c">
        <div class="w p-2 m-2 rounded-4">
          <h2 class="text-center">CARTA DE SABORES</h2>
          <div class="row">
            <div class="col">
              <h2>CARTA BASE</h2>
              <h3>
                -Mozzarella <br>-Jamón y morrón<br>-Napolitana<br>-Jamón y Huevo<br>-Fugazza<br>-Huevo<br>-Choclo<br>-Muzza con papas pay

              </h3>
            </div>
            <div class="col">
              <h2>CARTA ESPECIAL</h2>
              <h3>
                -Salchicha<br>-Rúcula y Crudo<br>-Roquefort<br>-Panceta<br>-Calabresa<br>-Palmitos y Salsa Golf<br>-Anchoas<br>-Ananá
              </h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

