<title>AliOli | Pagina Principal</title>
<div class="container-fluid">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5491136801229" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
  <app-catering></app-catering>
  <app-lo-que-necesitas></app-lo-que-necesitas>
  <app-nos-encargamos></app-nos-encargamos>
  <app-productos></app-productos>
  <app-sobre-nosotros></app-sobre-nosotros>
  <app-formulario></app-formulario>

  <app-encontrarnos></app-encontrarnos>
</div>
