<div class="container-fluid c">
  <div class="row c p-4">
    <div class="col w rounded-pill" id="center" style="margin-top: 4em">
      <div>
        <h1
          style="text-align: center; letter-spacing: 6px"
          class="seg-title text-dark"
        >
          PERNIL PARTY
        </h1>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="../../../assets/pernil/1.webp"
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/pernil/1.webp" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4" style="height: 90%">
        <h2 class="text-center"><b>2 Modelos de menú</b> </h2>
        <h3>
          <br>
          Todas las opciones incluyen el servicio de fileteado del pernil y
          armado de sanguchitos, con salsas para acompañar, mozos y vajilla
          descartable.
        </h3>
        <h2 class="fw-bold">
          <br>
          1.PERNIL PARTY CLÁSICO <br> <br>   2.PERNIL PARTY PREMIUM PREMIUM
        </h2>
        <h3 class="text-center text-danger" style="margin-top: 35px;" >
          Valor desde $4500 por persona
          <br>
          <br><br>
          <br>
          <br>
          <br><br>
          <br>
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel">
      <img
        src="../../../assets/pernil/2.webp"
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/pernil/2.webp" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7">
      <div class="w p-2 m-2 rounded-4" id="center">
        <h2 class="text-center fw-bold">PERNIL PARTY CLÁSICO</h2>
        <h3>
          <br>  
          Pernil de cerdo cocido tibio, figazas de manteca
          caseras y salsas. <br> <br>
           Incluye porta pernil, utensillos para el fileteado,
          y vajilla descartable para los invitados.
          <br>
        </h3>
        <h2 class="text-center fw-bold">PERNIL PARTY PREMIUM</h2>
        <h3>
          <br>
          Entrada de recepción para los invitados: <br />

          -Canastitas surtidas y Tablas de picadas con fiambre y quesos, con
          pancitos caseros. <br /> <br>

          Pernil de cerdo cocido tibio, figazas de manteca
          caseras y salsas.
          <br> <br> 
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="../../../assets/pernil/3.webp"
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/pernil/3.webp" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4">
        <h2 class="text-center"><b>NUESTROS PERNILES</b> </h2>
        <div class="row">
          <div class="col">
            <h3>
              <br>
              Son de Cerdo, aunque podemos realizar un menú en carne vacuna si
              se prefiere. <br> <br>

              Las piezas llevan una cocción previa al evento de entre 5 y 10
              horas dependiendo el tamaño del jamón, una cocción lenta, en
              salmuera, para que quede super tierno. <br> <br>

              Luego al momento del evento se calienta para que los invitados lo
              disfruten tibio.
              <br> <br> <br> <br>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5491136801229" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>