<div class="container-fluid c">
  <div class="row c p-4">
    <div class="col w rounded-pill" id="center" style="margin-top: 4em">
      <div>
        <h1
          style="text-align: center; letter-spacing: 6px"
          class="seg-title text-dark"
        >
          Pernil Party
        </h1>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="imagenes/imagen55.jpg"
        class="dimens pos-abs position-absolute"
      />
      <img src="imagenes/imagen55.jpg" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4" style="height: 90%">
        <h2 class="text-center">2 Modelos de menú</h2>
        <h3 class="text-center">
          Todas las opciones incluyen el servicio de fileteado del pernil y
          armado de sanguchitos, con salsas para acompañar, mozos y vajilla
          descartable.
        </h3>
        <h2 class="fw-bold text-center">
          1.PERNIL PARTY CLÁSICO <br />2.PERNIL PARTY PREMIUM PREMIUM
        </h2>
        <h3 class="text-center" style="margin-top: 35px">
          Valor desde $1500 por persona
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel">
      <img
        src="imagenes/imagen55.jpg"
        class="dimens pos-abs position-absolute"
      />
      <img src="imagenes/imagen55.jpg" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7">
      <div class="w p-2 m-2 rounded-4" id="center">
        <h2 class="text-center fw-bold">PERNIL PARTY CLÁSICO</h2>
        <h3 class="text-center">
          Pernil de cerdo cocido tibio, presentado en porta pernil, con servicio
          de fileteado y mozos para armado de sanguchitos, figazas de manteca
          caseras y salsas. Incluye porta pernil, utensillos para el fileteado,
          y vajilla descartable para los invitados.
        </h3>
        <h2 class="text-center fw-bold">PERNIL PARTY PREMIUM</h2>
        <h3 class="text-center">
          Entrada de recepción para los invitados: <br />

          -Canastitas surtidas y Tablas de picadas con fiambre y quesos, con
          pancitos caseros. <br />

          Pernil de cerdo cocido tibio, presentado en porta pernil, con servicio
          de fileteado y mozos para armado de sanguchitos, figazas de manteca
          caseras y salsas.
        </h3>
        <h3 class="text-center" style="margin-top: 35px">
          Valor desde $1500 por persona
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="imagenes/imagen55.jpg"
        class="dimens pos-abs position-absolute"
      />
      <img src="imagenes/imagen55.jpg" class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4">
        <h2 class="text-center">NUESTROS PERNILES</h2>
        <div class="row">
          <div class="col">
            <h2>CARTA BASE</h2>
            <h3>
              Son de Cerdo, aunque podemos realizar un menú en carne vacuna si
              se prefiere. <br />

              Las piezas llevan una cocción previa al evento de entre 5 y 10
              horas dependiendo el tamaño del jamón, una cocción lenta, en
              salmuera, para que quede super tierno. <br />

              Luego al momento del evento se calienta para que los invitados lo
              disfruten tibio. <br />

              Los pancitos de la entrada, como las Figazas de manteca del
              pernil, también son de elaboración propia. <br />
              al igual que las salsas. Siempre buscamos asegurar la calidad de
              nuestros productos.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
