<div class="row c">
    <div class="col">
        <h2 class="text-white">Servicios</h2>
    </div>
</div>



<div class="row c">
    <div class="col-lg pad">
        <a href="/PizzaParty" style="text-decoration: none;"> <!--AGREGAR ROUTEO-->
            <div class="sh  rounded position-relative">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/imagen55.jpg" class=" img-4 rounded">
                </div>
            
            <h3 style="color: white; text-align: center;">PIZZA PARTY</h3>
            </div>
        </a>

        
    </div>
    <div class="col-lg pad">
        <a href="/Pernil"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen77.jpg" class="img-4 rounded ">
            </div>
        <h3 style="color: white; text-align: center;">PERNIL PARTY</h3>

    </div></a>
    </div>
    <div class="col-lg pad">
        <a href="/Lunch"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen88.jpg" class="img-4  rounded ">
            </div>
        <h3 style="color: white; text-align: center;">LUNCH</h3>
    </div></a>
    </div>
</div>


<div class="row c">
    <div class="col-lg pad">
        <a href="/MesaDulceCafe"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen44.jpg" class="img-4 rounded ">
            </div>
        <h3 style="color: white; text-align: center;">MESA DULCE</h3>
    </div></a>
    </div>
    <div class="col-lg pad">
        <a href="/MesaDulceCafe"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen66.png" class="img-4 rounded ">
            </div>
        <h3 style="color: white; text-align: center;">CAFE</h3>
    </div></a>
    </div>

    <div class="col-lg pad">
        <a href="/Bebidas"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen1011.jpg" class="img-4 rounded ">
            </div>
        <h3 style="color: white; text-align: center;">BEBIDAS</h3>
    </div></a>
    </div>
</div>


<div class="row c">
    <div class="col-lg pad">
        <a href="/Servicios"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen44.jpg" class="img-4  rounded ">
            </div>
        <h3 style="color: white; text-align: center;">SERVICIO</h3>
    </div></a>
    </div>
    <div class="col-lg pad">
        <a href="/CoffeeBreak"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen100.jpg" class="img-4 rounded ">
            </div>
        <h3 style="color: white; text-align: center;">COFFEE BREAK</h3>
    </div></a>
    </div>
    <div class="col-lg pad">
        <a href="/SonidoIluminacion"style="text-decoration: none;">
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
        <img src="../../../assets/imagen1022.jpg" class="img-4 rounded ">
            </div>
        <h3 style="color: white; text-align: center;">SONIDO E ILUMINACION</h3>
    </div></a>
    </div>
</div>
