<div class="row c m-3">
    <div class="col text-center" >
        <h2 class="rounded-pill text-white sh" style="background-color: var(--color);">SERVICIOS</h2>
    </div>
</div>



<div class="row c">
    <div class="col-lg pad">
         <!--AGREGAR ROUTEO-->
            <div class="sh  rounded position-relative">
                <a href="/PizzaParty" style="text-decoration: none;">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/pizzaparty/Portada.jpg" class=" img-4 rounded imagTam">
                </div></a>
                <a href="/PizzaParty" style="text-decoration: none;">
            <h3 class="enlaces" style="color: white; text-align: center;">PIZZA PARTY</h3>
        </a>
            </div>
        

        
    </div>
    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/Pernil"style="text-decoration: none;">
        <img src="../../../assets/pernil/Portada.webp" class="img-4 rounded imagTam"></a>
            </div>
            <a href="/Pernil"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">PERNIL PARTY</h3>
    </a>
    </div>
    </div>
    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <a href="/Lunch"style="text-decoration: none;">
            <div style="display: flex; justify-content: center;">
                <a href="/Lunch"style="text-decoration: none;"></a>
        <img src="../../../assets/lunch/Portada.webp" class="img-4  rounded imagTam">
            </div>
            
        <h3 class="enlaces" style="color: white; text-align: center;">LUNCH</h3>
    </a>
    </div>
    </div>
</div>


<div class="row c">
    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/MesaDulceCafe"style="text-decoration: none;">
        <img src="../../../assets/mesadulcecafe/Portada.webp" class="img-4 rounded imagTam"></a>
            </div>
            <a href="/MesaDulceCafe"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">MESA DULCE</h3></a>
    </div>
    </div>
    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/MesaDulceCafe"style="text-decoration: none;">
        <img src="../../../assets/imagen66.png" class="img-4 rounded imagTam"></a>
            </div>
            <a href="/MesaDulceCafe"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">CAFE</h3></a>
    </div>
    </div>

    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/Bebidas"style="text-decoration: none;">
        <img src="../../../assets/bebidas.jpg" class="img-4 rounded imagTam"></a>
            </div>
            <a href="/Bebidas"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">BEBIDAS</h3></a>
    </div>
    </div>
</div>


<div class="row c">
    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/Servicios"style="text-decoration: none;">
        <img src="../../../assets/imagen44.jpeg" class="img-4  rounded imagTam"></a>
            </div>
            <a href="/Servicios"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">SERVICIOS</h3></a>
    </div>
    </div>



    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/CoffeeBreak"style="text-decoration: none;">
        <img src="../../../assets/coffebreak.webp" class="img-4 rounded imagTam"></a>
            </div>
            <a href="/CoffeeBreak"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">COFFEE BREAK</h3></a>
    </div>
    </div>
    <div class="col-lg pad">
        
        <div class="sh  rounded ">
            <div style="display: flex; justify-content: center;">
                <a href="/SonidoIluminacion"style="text-decoration: none;">
        <img src="../../../assets/imagen1022.jpg" class="img-4 rounded imagTam"></a>
            </div>
            <a href="/SonidoIluminacion"style="text-decoration: none;">
        <h3 class="enlaces" style="color: white; text-align: center;">SONIDO E ILUMINACION</h3></a>
    </div>
    </div>
</div>
