<div class="row w">
  <div class="col-lg-6">
    <div class="text-center">
      <p class="textos fs-2 " style="padding-top: 0;">

      <br>
        NOS <br />
        ENCARGAMOS<br />DE TODO PARA <br />QUE DISFRUTES<br />DE TU EVENTO
        <br>
      <br>
      </p>
    </div>
  </div>

  <div class="col-lg-6">
    <div>
      <p class="textos text-sec " style="line-height: 30px;">
    
      <br>
        ºSERVICIO DE MOZOS PROPIOS <br />
        ºALQUILER DE VAJILLA Y MANTELERIA <br />
        ºLLEVAMOS EL HORNO Y ARMAMOS TODO EN EL LUGAR <br />
        ºINSUMOS DE PRIMERA MARCA, COMIDA DE CALIDAD. <br />
        ºOPCIONES VEGETARIANAS Y SIN TACC <br />
        ºTORTA PRINCIPAL Y MESA DULCE <br />
        ºSERVICIO DE CAFÉ Y FIN DE FIESTA <br />
        ºBEBIDAS (CON Y SIN ALCOHOL) <br />
        ºSONIDO E ILUMINACIÓN
        <br>
      <br>
      </p>
    </div>
  </div>
</div>
