<div class="row c p-5">
  <div class="col">
    <h2 class="seg-title" id="Lo que necesitas">
      Todo lo que necesitas<br />
      para tu evento.
    </h2>
  </div>
  <div class="row c">
    <div class="col-lg-4">
      <img
        src="../../../assets/imagen111.jpg"
        class="imagen11 sh img-fluid"
        id="center"
      />
      <div id="center">
        <h3 class="text-center text-black"><b>PIZZA PARTY</b></h3>
        <h4 class="text-sec">
          CON SERVICIO,MOZOS,<br />
          ENTRADAS...
        </h4>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="../../../assets/imagen22.png" class="imagen11 sh img-fluid" id="center" />
      <h3 class="text-center text-black"><b>MESA DULCE</b></h3>
      <h4 class="text-sec">
        MESA DE CAFE, POSTRES,<br />
        TORTA PRINCIPAL...
      </h4>
    </div>
    <div class="col-lg-4">
      <img src="../../../assets/imagen33.jpg" class="imagen11 sh img-fluid" id="center" />
      <h3 class="text-center text-black"><b>LUNCH</b></h3>
      <h4 class="text-sec">AMPLIA VARIEDAD DE <br />OPCIONES EN COMIDA...</h4>
    </div>
  </div>
</div>
