<div class="container-fluid c">
  <div class="row c p-4">
    <div class="col w rounded-pill" id="center" style="margin-top: 4em">
      <div>
        <h1
          style="text-align: center; letter-spacing: 6px"
          class="seg-title text-dark"
        >
          MESA DULCE Y CAFÉ
        </h1>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="../../../assets/mesadulcecafe/1.webp" 
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/mesadulcecafe/1.webp"  class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4" style="height: 90%">
        <h3>
          <br />
          <h3 class="text-center"><b>MESA DE POSTRES</b> </h3>
            <br> <br>
          -Tortas, tartas, bocaditos individuales, alfajores y más. <br>
           Todo personalizado a los gustos del cliente, calculamos los bocados
          necesarios para que todos los invitados prueben el postre. <br> <br>
          Incluye el
          armado, presentación de la mesa, y servicio de mozos para servir. <br> <br>
          En
          caso de sumar este adicional, se agregaría una hora más de servicio al
          cotizado para el menú principal. 
          <br />
          <br />
        </h3>
        <h3 class="text-center text-danger" style="margin-top: 25px">
            Valor desde $1500 por persona
          <br>
          <br><br>
          <br>
        </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel">
      <img
        src="../../../assets/mesadulcecafe/2.jpg" 
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/mesadulcecafe/2.jpg"  class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7">
      <div class="w p-2 m-2 rounded-4" id="center">
        <h2 class="fw-bold">
          <b class="text-center">MESA DE CAFE </b>
        </h2>
        <h3>
          <br />
          

            -Incluye las Cafeteras y todos los elementos necesarios para armar Café e Infusiones. 
            también llevamos la vajilla descartable, endulzantes, leche y demás. <br> <br>

            Pastelería para acompañar el café, bocados dulces, alfajores, budines, tartas y tortas. <br> <br>

            En caso de sumar este adicional, se agregaría dos horas  más de servicio al cotizado para el menú principal.

          <br />
          <br />
        </h3>
        <h3 class="text-center text-danger" style="margin-top: 25px">
          Valor desde $1000 por persona
        <br>
        <br><br>
        <br>
      </h3>
      </div>
    </div>
  </div>
  <div class="row c">
    <div class="col-lg-5 pos-rel p-2">
      <img
        src="../../../assets/mesadulcecafe/3.png" 
        class="dimens pos-abs position-absolute sh"
      />
      <img src="../../../assets/mesadulcecafe/3.png"  class="dimens dimens2" id="center" />
    </div>
    <div class="col-lg-7 c">
      <div class="w p-2 m-2 rounded-4">
        <h2>
          <b class="text-center">TORTA PRINCIPAL </b>
        </h2>
        <div class="row">
          <div class="col">
            <h3>
              <br />
              

                Realizamos Tortas personalizadas para su evento en caso de ser cumpleaños y aniversario. <br> <br>

                Temática a elección del cliente, al igual que los rellenos. <br> <br>

                La presentamos en la mesa dulce, y también incluye el servicio de mozos para cortarla y repartirla en el evento. <br> <br>

                Se puede añadir a la mesa de café para tener un fin de fiesta completo. <br> <br>

                

              <br />
              <br />
            </h3>
            <h3 class="text-center text-danger">
                Valor cotizado según la torta.
            
              <br>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5491136801229" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>