*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;
	
}
.html{
	scroll-behavior: smooth;
}
.text-sec{
	font-family: 'Roboto', sans-serif;
}


:root{
	--color:#0e3269 ;
	--gris: #f1ede8;
}
.sh{
	box-shadow: 0px 0px 10px 0px #000;
}
.bac{
	margin-left: 0;
}
.c{
	background-color:var(--color);
}
.w{
	background-color: var(--gris);
}
#center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Logo{
	width: 230px;
	height: 230px;
	margin-top: 25px;

}
.delantal{
	height: 600px; 
    width: 500px;
	margin-top: 2em;
}



/*
--------------------------------------------------v
segundo contenedor
--------------------------------------------------v
*/
.seg-title{
	font-size: (2em + 1vw);
	line-height: 1.5em;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}
/*
--------------------------------------------------v
tercer contenedor
--------------------------------------------------v
*/
div h4{
	text-align: center;
	font-size: 20px;
	color: white;
}
 .imagen11{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

/*
--------------------------------------------------v
cuarta contenedor
--------------------------------------------------v
*/
.textos{
	padding: 1em;
	font-size: (2em + 1vw);
	margin: auto;
}

/*
--------------------------------------------------v
contenedor general 
--------------------------------------------------v
*/


.img-gen1{
	width: 300px;
	height: 400px;	
	box-shadow: 0px 0px 20px 0px #000;

}

.img-4{
	width: 300px;
	height: 400px;
	margin-top: 10px;
}
.pad{
	padding: 5px;
}
/*
--------------------------------------------------v
septimo contenedor
--------------------------------------------------v
*/

.form-text{

	background: var(--color);
	font-size: 2em;
	
}
.form-text-h2 h2{
	margin: 30px;
	margin-top: 30px;
	color: #fff;
}



.form{
	padding: 30px;
	
}
.form-input{

	background: var(--color);	
}

.form-input-gen{

	padding: 7px;
	width: 80%;
}
.form-div-gen textarea{
	min-height: 150px;
	width: 80%;
}

/*
--------------------------------------------------v
OCTAVO contenedor
--------------------------------------------------v
*/

.Logo2{
	width: 200px;
	height: 200px;
	color: #fff;
}

/*
tamaños
*/

.logitos{
	height: 50px;
	width: 50px;

}
.logitos2{
	height: 60px;
	width: 50px;

}
.logitos3{
	width: 50px;
	height: 70px;

}

.redes h5{
	text-align: center;
}

.redes h5{
	font-size: calc(.5em + 1vw);
}

.pos-abs{
	position: absolute;
	left: 20%;
}
.pos-rel{
	position: relative;
}
.dimens{
	width: 300px;
	height: 400px;
	transform: rotate(10deg);
	border-radius: 5px;
	margin-bottom: 40px;
	margin-top: 40px;
	transition: 2s;
}
.dimens2{
	transform:  rotateZ(-10deg);
}
@media screen and (max-width: 420px){
	.dimens{
	width: 200px;
	height: 300px;
	}
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 0px 0px 8px #000;
  z-index:100;
} 
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:var(--gris);
}

.my-float{
	margin-top:16px;
}
.enlaces{
	color: #f1ede8;
}
.enlaces:hover{
	color:#868380 ;
	
	text-shadow: 0px 0px 8px #000;
}
.imagTam{
	transition: 2s;
}
.imagTam:hover{
	transform: scale(1.1);
}

  
  .popover__wrapper {
	position: relative;
	margin-top: 1.5rem;
	display: inline-block;
  }
  .popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -20px;
	top: 90px;
	transform: translate(0, 10px);
	background-color: #bfbfbf;
	padding: 1.5rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: auto;
  }
  .popover__content:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(50% - 10px);
	top: -8px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #bfbfbf transparent;
	transition-duration: 0.3s;
	transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -35px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
	text-align: center;
  }
  