<div class="row">
    <div class="col-sm-12 col-md-6 c">
        <div class="position-relative" style="margin-top: 100px;">
            <img src="../../../assets/Logo.png" class="Logo " id="center"   >

            <h1 class="text-center text-white" id="center" style="	font-family: coco gothic; letter-spacing: 2px;">Catering y <br> eventos </h1>

            <h2 class="text-sec text-center text-white" id="center">Se un invitado más</h2>
            
                <div style="  display: flex; justify-content: center;">
                    <a class="btn btn-danger boton-contac" href="#contactanos" type="button"
                >Contactanos</a>
                </div>
                
        </div>
    </div>
    <div class="col-sm-12 col-md-6 c">
        <div class="asd" style="margin-top: 100px;">
            <img src="../../../assets/Delantal.jpg" class="img-fluid delantal rounded border border-white" id="center">
        </div>
    </div>
</div>
