<div class="row">
    <div class="col-sm-12 col-md-6 c">
        <div class="position-relative" style="margin-top: 100px;">
            <img src="../../../assets/Logo.png" class="Logo " id="center"   >

            <h1 class="text-center text-white" id="center" style="	font-family: coco gothic; letter-spacing: 2px;">Catering y <br> eventos </h1>

            <h2 class="text-sec text-center text-white" id="center"><i> Se un invitado más</i></h2>
            
                <div style="display: flex; justify-content: center;">
                    <div class="popover__wrapper">
                        
                          <button class="btn btn-danger popover__title"> Contactanos</button>
                          

                        <div class="popover__content">
                          <p class="popover__message">Hola! 
                            Envíanos tu consulta por WhatsApp y te responderemos a la brevedad!</p>
                          </div>
                    </div>
                </div>
                
        </div>
    </div>
    <div class="col-sm-12 col-md-6 c">
        <div class="asd" style="margin-top: 100px;">
            <img src="../../../assets/Delantal.jpg" class="img-fluid delantal rounded border border-white" id="center">
        </div>
    </div>
</div>